body {
  background: #eee;
  font-size: 14px;
}
.home .ol-layout-header {
  color: #fff;
}

.example-nav {
  
}

.example-nav h3 { 
   color: #666;
   border-bottom: #bbb 1px solid;
   /* margin: 16px 0; */
   padding: 12px 20px;
   font-size: 12px;
   cursor: pointer;
   font-size: 14px;
}

.example-nav h3:hover {
  background: #f8fafb;
}

.example-nav > li {
  font-size: 16px;
  color: #fff;
   
  position: relative;
}

 

.example-nav a {
  font-size: 14px;
  color: #000;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.example-nav a.active {
  background: #e6f7ff;
  position: relative;
}
.example-nav a.active::after {
  display: block;
  content: " ";
  position: absolute;
  right:0;
  width: 3px;
  background: #1890ff;
  top: 0;
  bottom: 0;
}

.example-nav-items {
  display: none;
}

.code-box-title h4 {
  font-size: 14px;
}

.code-box-actions {
  font-size: 14px;
}

.code-box-actions span {
  cursor: pointer;
}