<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
</head>

<body>


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo" id='l-1'>


      <!--  -->
      <div class="ol-cells__title">我是标题</div>
      <div class="ol-cells">
    
        <!--  -->
        <div class="ol-cell">
    
    
          <span class="ol-cell__bd">标题</span>
          <span class="ol-cell__ft">说明文字</span> 
    
        </div>
        <!--  -->
        <!--  -->
        <div class="ol-cell ol-cell_access">
          <span class="ol-cell__hd">
            <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
          </span>
    
          <span class="ol-cell__bd">标题</span>
          <span class="ol-cell__ft"></span>
    
        </div>
    
    
        <!--  -->
        <div class="ol-cell ol-cell_access">
          <span class="ol-cell__hd">
            <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
          </span>
    
          <span class="ol-cell__bd">标题</span>
          <span class="ol-cell__ft">说明文字</span>
    
        </div>
        <!--  -->
    
    
      </div>
      <!--  -->
    
    
    
    
      <!-- 第二种 -->
      <div class="ol-cells__title">另外</div>
      <div class="ol-cells">
    
    
        <div class="ol-cell ol-cell_access">
          <span class="ol-cell__hd">
            <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
          </span>
          <span class="ol-cell__bd">标题</span>
          <span class="ol-cell__ft">说明文字</span>
        </div>
    
    
        <div class="ol-cell ol-cell_swipe">
    
          <span class="ol-cell__bd ol-cell_swipe__bd" style="transform: translateX(-216px)">
            <span class="ol-cell ol-cell_access">
    
              <span class="ol-cell__hd">
                <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
              </span>
    
              <span class="ol-cell__bd">
                hello
              </span>
              <span class="ol-cell__ft">说明文字</span>
    
            </span>
          </span>
          <span class="ol-cell__ft ol-cell_swipe__ft">
            <button class="ol-btn_auto ol-btn ol-btn_primary">
              <i class="fas fa-download"></i>
              <!--  -->
            </button>
            <button class="ol-btn_auto ol-btn ol-btn_danger">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button class="ol-btn_auto ol-btn ol-btn_success">
              启动
            </button>
          </span>
        </div>
    

      <!--  -->
     
    </div>
    <div class="code-box-meta">
    <div class="code-box-title"></div>
    <div class="code-box-description">
    <p>说明</p>
    </div>
    </div>
    <div class="code-box-actions" target='l-1'></div>
  </div>


 


  </div>



</body>

</html>