<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
     <div class="ol-grid-guid ol-layout-g g-5 ol-c_muted">
        <div class="ol-ta-c">
          <span class="ol-icon ol-fs-22"><i class="fa fa-address-card"></i></span>
          <p>待付款</p>
        </div>
        <div class="ol-ta-c">
          <span class="ol-icon ol-fs-22"><i class="fa fa-truck"></i></span>
          <p>待收货</p>
        </div>
        <div class="ol-ta-c">
          <span class="ol-icon ol-fs-22"><i class="fa fa-edit"></i></span>
          <p>填口碑</p>
        </div>
        <div class="ol-ta-c ol-b-muted_1__r">
          <span class="ol-icon ol-fs-22"><i class="fa  fa-credit-card"></i></span>
          <p>售后</p>
        </div>

        <div class="ol-ta-c">
          <span class="ol-icon ol-fs-22"><i class="fa fa-list-alt"></i></span>
          <p>全部订单</p>
          <span class='ol-tag ol-tag_muted ol-text_s ol-br-5'>更多的资产</span>
        </div>
     </div>
  </div>
  
  <div class="code-box-meta">
    <div class="code-box-title">
      <span>说明</span>
    </div>
    <div class="code-box-description">
      <p>hello</p>
    </div>
  </div>

  <div class="code-box-actions">
    <span class="copy-tarojs"><i class="fa fa-file"></i></span>
  </div>
</div>

<!--  -->
</body>
</html>