<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>移动端</title>
</head>
<body>
  <div class="">
     <!-- <div class="ol-navigation-bar ol-line">
       <span class="ol-navigation-bar__back"><</span>
       <span class="ol-navigation-bar__title">hello</span>
     </div> -->

     <div class="code-box">
       <div class="code-box-demo ol-pos-rt">

        <!--  -->

        <div class="ol-tabs-bar" style="position: absolute;" id='tb-1'>
          <div class="ol-tabs-bar__item ol-tabs-bar__item_on"> 
            <span class="ol-tabs-bar__pack">
              <img src="/css/icon/icon_tabbar.png" class="ol-tabs-bar__icon" />
              <span class="ol-tabs-bar__badge">12</span>  
            </span>
            <span class="ol-tabs-bar__label">首页</span>
          </div>
          <div class="ol-tabs-bar__item">
            <span class="ol-tabs-bar__pack">
              <img src="/css/icon/icon_tabbar.png" class="ol-tabs-bar__icon" />
              <span class="ol-tabs-bar__badge_dot"></span>
            </span>
            <span class="ol-tabs-bar__label">视频</span>
          </div>
          <div class="ol-tabs-bar__item">
            <img src="/css/icon/icon_tabbar.png" class="ol-tabs-bar__icon" />
            <span class="ol-tabs-bar__label">我</span>
          </div>
       </div>

       <!--  -->

       </div>


       <div class="code-box-meta">
        <div class="code-box-title">TabsBar</div>
        <div class="code-box-description">
           <p>说明</p>
        </div>
     </div>


       <div class="code-box-actions" target='tb-1'>
       
      </div>

     </div>
     

   
  </div>
</body>
</html>