<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


   <!--  -->
   <div class="code-box">
    <div class="code-box-demo">
       
     
      <p class='ol-bg-c_primary ol-block'>hello, ol-block</p>
      <p class='ol-bg-c_success ol-inline' id='block-1'>hello, ol-inline</p>
      

    </div>
    <div class="code-box-meta">
      <div class="code-box-title">
        <h4>行内，行块</h4>
      </div>
      <p class="code-box-description">
         块状方式：
         <code class='ol-tag ol-tag_muted'>.ol-block</code>
         <br>
         <br>
         块内方式：
         <code class='ol-tag ol-tag_muted'>.ol-inline</code>.  
      </p>
    </div>
    <div class="code-box-actions" target='block-1'></div>
  </div>

  <!--  -->


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
       
     
      <p class='ol-bg-c_primary ol-lh-18'>hello, 行高18</p>
      <p class='ol-bg-c_success ol-lh-19'>hello, 行高19</p>
      <p class='ol-bg-c_dark ol-lh-20'>hello, 行高20</p>
      <p class='ol-bg-c_pink ol-lh-22'>hello, 行高22</p>
      <p class='ol-bg-c_purple ol-lh-24' id='block-2'>hello, 行高24</p>
      <p class='ol-bg-c_warning ol-lh-26'>hello, 行高26</p>
      <p class='ol-bg-c_muted ol-lh-28'>hello, 行高28</p>
      <p class='ol-bg-c_success ol-lh-30'>hello, 行高30</p>
      <p class='ol-bg-c_primary ol-lh-32'>hello, 行高32</p>
      <p class='ol-bg-c_muted ol-lh-34'>hello, 行高34</p>
      <p>.................</p>
      

    </div>
    <div class="code-box-meta">
      <div class="code-box-title">
        <h4>行高</h4>
      </div>
      <p class="code-box-description">
         行高则以line-height首字母作为缩写。以
         <code class='ol-tag ol-tag_muted'>.ol-lh</code> 作为前缀。
         <br> 
         其主要值为： (-5,-3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 60, 80, 90, 100);
         <br>  格式为： <code class='ol-tag ol-tag_muted'>.ol-lh-[number]</code>.  
      </p>
    </div>
    <div class="code-box-actions" target='block-2'></div>
  </div>

  <!--  -->
 

     
  
</body>
</html>