<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <!--  -->
  <div class="code-box">
   <div class="code-box-demo">
     <p class='ol-c_muted'>hello, muted</p>
     <p class='ol-c_info'>hello, info</p>
     <p class='ol-c_primary'>hello, primary</p>
     <p class='ol-c_success'>hello, success</p>
     <p class='ol-c_warning'>hello, warning</p>
     <p class='ol-c_dark'>hello, dark</p>
     <p class='ol-c_light'>hello, muted</p>
     <p class='ol-c_pink'>hello, pink</p>
     <p class='ol-c_purple'>hello, purple</p>
   </div>
   <div class="code-box-meta">
      <div class="code-box-title">
        <h4>前景色</h4>
       </div>
       <p class="code-box-description">
          前景色主要是通过 <code class='ol-tag ol-tag_muted'>.ol-c</code>作为前缀，主要有： primary, success, warning, danger, pink, purple, pink, light, dark, muted
       </p>
   </div>
   <div class="code-box-actions"></div>
 </div>
 <!--  -->
 
 <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <p class='ol-bg-c_muted'>hello, muted</p>
    <p class='ol-bg-c_info'>hello, info</p>
    <p class='ol-bg-c_primary'>hello, primary</p>
    <p class='ol-bg-c_success'>hello, success</p>
    <p class='ol-bg-c_warning'>hello, warning</p>
    <p class='ol-bg-c_dark'>hello, dark</p>
    <p class='ol-bg-c_light'>hello, muted</p>
    <p class='ol-bg-c_pink'>hello, pink</p>
    <p class='ol-bg-c_purple'>hello, purple</p>
  </div>
  <div class="code-box-meta">
     <div class="code-box-title">
       <h4>背景色</h4>
      </div>
      <p class="code-box-description">
         背景色与前景色类似， 主要是通过 <code class='ol-tag ol-tag_muted'>.ol-bg-c</code>作为前缀，主要有： primary, success, warning, danger, pink, purple, pink, light, dark, muted
      </p>
  </div>
  <div class="code-box-actions"></div>
</div>
 


</body>
</html>