<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
     
     
    <p class='ol-bg-c_white ol-line' id='line-1'>hello, default</p>
    <p class='ol-bg-c_white ol-m-10__b ol-m-10__t ol-ta-r  ol-line__r'>hello, right</p>
    <p class='ol-bg-c_white  ol-line__l'>hello, left</p>
    <p class='ol-bg-c_white ol-m-10__t ol-line__l ol-line__r'>hello, left&right</p>
    
  </div>
  <div class="code-box-meta">
     <div class="code-box-title">
       <h4>线条</h4>
      </div>
      <p class="code-box-description">
         线条通过<code class='ol-tag ol-tag_muted'>.ol-line</code>作为前缀， 颜色固定为灰色。 左右边距（12px) 可设置为： <code class='ol-tag ol-tag_muted'>.ol-line__l</code>, <code class='ol-tag ol-tag_muted'>.ol-line__r</code> 分别为左， 右
      </p>
  </div>
  <div class="code-box-actions" target='line-1'></div>
</div>
 
  <!-- .ol-line -->
</body>
</html>