<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

   <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <p class='ol-bg-c_muted ol-p-10' id='p-1'>hello, muted. space 10</p>
    <p class='ol-bg-c_success ol-p-20'>hello, success. space 20</p>
    <p class='ol-bg-c_primary ol-p-20__l'>hello, primary. left 20</p>
    <p class='ol-bg-c_pink ol-p-20__t'>hello, pink. top 20</p>
    
  </div>
  <div class="code-box-meta">
     <div class="code-box-title">
       <h4>内间距</h4>
      </div>
      <p class="code-box-description">
         内间距  <code class='ol-tag ol-tag_muted'>.ol-p-</code>作为前缀。 如果需要独立设置某一边的内间距，则使用 <code class='ol-tag ol-tag_muted'>.ol-p-[number]__[direct]</code>
         direct为l, r, t, b 代表left, right, top. bottom. number: -5,-3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 60, 80, 90, 100。
      </p>
  </div>
  <div class="code-box-actions" target='p-1'></div>
</div>


 <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <p class='ol-bg-c_muted ol-m-10' id='m-1'>hello, muted. space 10</p>
    <p class='ol-bg-c_success ol-m-20'>hello, success. space 20</p>
    <p class='ol-bg-c_primary ol-m-20__l'>hello, primary. left 20</p>
    <p class='ol-bg-c_pink ol-m-20__t'>hello, pink. top 20</p>
    
  </div>
  <div class="code-box-meta">
     <div class="code-box-title">
       <h4>外间距</h4>
      </div>
      <p class="code-box-description">
         外间距与内间距类似。  <code class='ol-tag ol-tag_muted'>.ol-m-</code>作为前缀。 如果需要独立设置某一边的内间距，则使用 <code class='ol-tag ol-tag_muted'>.ol-m-[number]__[direct]</code>
         direct为l, r, t, b 代表left, right, top. bottom. number: -5,-3, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 60, 80, 90, 100。
      </p>
  </div>
  <div class="code-box-actions" target='m-1'></div>
</div>

</body>
</html>