<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文本排版</title>
</head>
<body>
   <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <p class='ol-bg-c_muted ol-ta-l'>hello, muted. left</p>
    <p class='ol-bg-c_success ol-ta-c'>hello, success. center</p>
    <p class='ol-bg-c_primary ol-ta-r'>hello, primary. right</p>
    
  </div>
  <div class="code-box-meta">
     <div class="code-box-title">
       <h4>文本排版</h4>
      </div>
      <p class="code-box-description">
         文本排版其实就是 text-align属性的设置。 <code class='ol-tag ol-tag_muted'>.ol-ta-</code>作为前缀，主要有： l, c, r 分别代表left, center, right.
      </p>
  </div>
  <div class="code-box-actions"></div>
</div>
</body>
</html>