<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <p class='ol-fs-8'>hello world. 8</p>
    <p class='ol-fs-9'>hello world. 9</p>
    <p class='ol-fs-10'>hello world. 10</p>
    <p class='ol-fs-11'>hello world. 11</p>
    <p class='ol-fs-12'>hello world. 12</p>
    <p class='ol-fs-14'>hello world. 14</p>
    
    <p class='ol-fs-16'>hello world. 16</p>
 
    <p class='ol-fs-18'>hello world. 18</p>
    
    <p class='ol-fs-20'>hello world. 20</p>
   
    <p class='ol-fs-22'>hello world. 22</p>
    <p class='ol-fs-24'>hello world. 24</p>
    <p class='ol-fs-26'>hello world. 26</p>
    <p class='ol-fs-28'>hello world. 28</p>
    <p class='ol-fs-30'>hello world. 30</p>
    <p class='ol-fs-32'>hello world. 32</p>
    <p class='ol-fs-34'>hello world. 34</p>
    <p class='ol-fs-36'>hello world. 36</p>
    <p class='ol-fs-38'>hello world. 38</p>
    <p class='ol-fs-40'>hello world. 40</p>
    <p class='ol-fs-50'>hello world. 50</p>
    <p class='ol-fs-60'>hello world. 60</p>
     
  </div>
  <div class="code-box-meta">
     <div class="code-box-title">
       <h4>文字大小</h4>
      </div>
      <p class="code-box-description">
         文字大小以 <code class='ol-tag ol-tag_muted'>.ol-fs-</code>作为前缀，主要有：8, 9, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 50, 60 
      </p>
  </div>
  <div class="code-box-actions"></div>
</div>

<!--  -->
</body>
</html>