<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!--  -->
   <div class="code-box">
     <div class="code-box-demo">
       
        <div class="ol-badge ol-fs-22">
          <i class="fas fa-film"></i>
          <span class="ol-badge__point"></span>
        </div>


        <div class="ol-badge ol-fs-26 ol-m-10__l">
          <i class="fas fa-film"></i>
          <span class="ol-badge__count">22</span>
        </div>


     </div>
     <div class="code-box-meta">
     <div class="code-box-title">badge</div>
     <div class="code-box-description">
     <p>说明</p>
     </div>
     </div>
     <div class="code-box-actions"></div>
   </div>
</body>
</html>