<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-layout-h c-space-b ol-w-200 ol-b-muted_1 ol-p-10">
        <div class='ol-fs-10 '><span>70元/月 （30颗）</span></div>
        <div><span class='ol-fs-14'><i class="fa fa-plus-square"></i></span></div>
      </div>


      <div class="ol-layout-h c-space-b ol-w-200 ol-m-20__t ol-c_muted ol-b-muted_1 ol-p-10">
        <div><span><i class="fa fa-comment"></i> 236</span></div>
        <div><span><i class="fa fa-thumbs-up"></i> 200</span><span class='ol-m-10__l'><i class="fa fa-thumbs-down"></i>
            10</span></div>
      </div>


      <div class="ol-layout-h c-space-b ol-w-200 ol-m-20__t ol-c_muted ol-b-muted_1 ol-p-10">
        <div><span><i class="fa fa-comment"></i> 236</span></div>
        <div><span><i class="fa fa-thumbs-up"></i> 200</span></div>
        <div><span><i class="fa fa-thumbs-down"></i> 10</span></div>
      </div>

      <div class="ol-layout-h c-space-b ol-w-200 ol-m-20__t ol-c_muted ol-b-muted_1 ol-p-10">
        <div class='ol-layout-h'><img class="ol-img-r_min"
            src='https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg' /> <span
            class='ol-m-8__l'>头像</span></div>
        <div><span>1分钟前</span></div>
      </div>

    </div>
    <div class="code-box-meta">
      <div class="code-box-title">左右操作</div>
      <div class="code-box-description">
        <p>操作功能，比如使用在一些可以快捷功能按钮处。</p>
      </div>
    </div>
    <div class="code-box-actions"></div>
  </div>




  <!--  -->
  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-w-300 ol-layout-h ol-bg-c_dark ol-c_white ol-p-15">
        <span><img class="ol-br ol-img ol-w-80 ol-h-80 ol-b-white_3"
            src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg"
            alt=""></span>
        <div class="ol-layout-v c-left ol-p-16__l">
          <span class="ol-fs-18">小桃子</span>
          <span class="ol-fs-12 ol-lh-30">热爱生活，更热爱美好</span>
        </div>
      </div>



    </div>
    <div class="code-box-meta">
      <div class="code-box-title">个人昵称头像</div>
      <div class="code-box-description">
        <p>一般用于简单展示头像和昵称或用户名处</p>
      </div>
    </div>
    <div class="code-box-actions"></div>
  </div>
  <!--  -->


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <div class="ol-layout-h c-auto ol-w-400">

        <div class="ol-layou-v ol-ta-c c-flex">
          <h3 class='ol-fs-26'>159</h3>
          <span class='ol-c_muted ol-fs-12'><i class="fa fa-users"></i> 好友</span>
        </div>

        <div class="ol-layou-v ol-ta-c c-flex ol-b-muted_1__r ol-b-muted_1__l">
          <h3 class='ol-fs-26'>129</h3>
          <span class='ol-c_muted ol-fs-12'><i class="fa fa-chart-bar"></i> 影响力</span>
        </div>

        <div class="ol-layou-v ol-ta-c c-flex">
          <h3 class='ol-fs-26'>588</h3>
          <span class='ol-c_muted ol-fs-12'><i class="fa fa-fighter-jet"></i> 访客</span>
        </div>


      </div>
    </div>
    <div class="code-box-meta">
      <div class="code-box-title">数据展示数</div>
      <div class="code-box-description">
        <p>如果有数据做展示， 可以利用此组件</p>
      </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
       <div class="ol-layout-h c-auto ol-w-400">
          <div class='ol-p-3 ol-w-50 ol-ta-c ol-c_muted'>
            <div class='ol-fs-16'><i class='fa fa-store'></i></div>
            <span>商铺</span>
          </div>
          <div class='ol-p-3 ol-w-50 ol-ta-c  ol-c_muted'>
            <div class='ol-fs-16'><i class='fa fa-comment-dots'></i></div>
            <span>客服</span>
          </div>
          <div class='ol-p-3 ol-w-50  ol-ta-c  ol-c_muted'>
            <div class='ol-fs-16'><i class='fa fa-star'></i></div>
            <span>收藏</span>
          </div>
          <div class='c-flex ol-bg-c_warning ol-c_white ol-layout-v c-cent ol-fs-14'>加入购物车</div>
          <div class='c-flex ol-bg-c_danger ol-c_white  ol-layout-v c-cent ol-fs-14'>马上抢</div>
       </div>
    </div>
    <div class="code-box-meta">
    <div class="code-box-title">购物操作栏</div>
    <div class="code-box-description">
    <p>可用于类似的相关功能处。</p>
    </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

</body>

</html>