<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">

    <div class="code-box">
      <div class="code-box-demo" >

        <!--  -->
        <div class="ol-card" id="card-1">
          <div class="ol-card-thumb">
            <img
              src="https://img.alicdn.com/tfscom/i2/57220545/TB2aS7GibxmpuFjSZJiXXXauVXa_!!57220545.jpg_180x180xzq90.jpg_.webp" />
          </div>
          <div class="ol-card-bd">
            <div class="ol-card-title">维生素</div>
            <div class="ol-card-subtitle">补钙搭档</div>
            <span class="ol-price"><i class="ol-price__mark">¥</i>59</span>
          </div>
          <div class="ol-card-ft">
          </div>
        </div>
        <!--  -->
        
      </div>
      <div class="code-box-meta">
        <h4 class='code-box-title'>基本的卡片</h4>
        <div class="code-box-description">
          <p>
              卡片样式为:  <code class="ol-tag ol-tag_muted">  .ol-card </code>   为容器.  
              <code class="ol-tag ol-tag_muted">  .ol-card-thumb, .ol-card-hd, .ol-card-bd, .ol-card-ft </code> 为下级布局容器. 在   <code class="ol-tag ol-tag_muted">  .ol-card-bd </code>
              下级中还有   <code class="ol-tag ol-tag_muted">  .ol-card-title, .ol-card-subtitle </code>. 目前是定义了相关的容器样式名称, 但是没有限定样式. 样式大家可以根据需要自行发挥.
          </p>

        </div>
      </div>
      <div class="code-box-actions ol-fs-14" target='card-1'> 
      </div>
    </div>


    <!--  -->
    <div class="code-box">
      <div class="code-box-demo" id="card2">
       
        <!--  -->
        <div class="ol-card">
          <div class="ol-card-thumb">
            <img src="https://d.vpimg1.com/upcb/2020/04/29/150/ias_158814924466560_570x273_90.jpg" />
          </div>
          <div class="ol-card-bd">
            <div class="ol-card-title ol-h4">斐乐新品女鞋时尚休闲运动复古潮流老爹鞋</div>
            <div class="ol-text_m ol-m-8__t ol-m-8__b"><span class="ol-tag ol-tag_success">100+新款</span>
            <span class="ol-c_pink">2.6</span> | 部分商品折上5.4折起</div>
          </div>
          <div class="ol-card-ft">
          </div>
        </div>
        <!--  -->

      </div>
      <div class="code-box-meta">
      <div class="code-box-title">带标签的</div>
      <div class="code-box-description">
      <p></p>
      </div>
      </div>
      <div class="code-box-actions ol-fs-16" target='card-2'> 
         
      </div>
    </div>



    <!--  -->
    <div class="code-box">
      <div class="code-box-demo" id="card-3">

        <!--  -->
        <div class="ol-card">
          <div class="ol-card-hd ol-layout-h c-space-b">
            <div class='ol-layout-h'><img class="ol-img-r_min"
                src='https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg' />
              <span class='ol-m-8__l'>泡泡足迹</span></div>
            <div><span>1分钟前</span></div>
          </div>
          <div class="ol-card-thumb ol-layers ol-h-200">
            <img class="ol-layer ol-layer__f ol-h-200" src="https://d.vpimg1.com/upcb/2020/04/29/150/ias_158814924466560_570x273_90.jpg" />
            <span class="ol-layer ol-layer_l ol-pos__b-16 ol-pos__l-12">3个朋友读过</span>
          </div>
          <div class="ol-card-bd">
            <div class="ol-card-title ol-h4">斐乐新品女鞋时尚休闲运动复古潮流老爹鞋</div>
            <div class="ol-text_m ol-m-8__t ol-m-8__b"><span class="ol-tag ol-tag_success">100+新款</span> <span
                class="ol-c_pink">2.6</span> | 部分商品折上5.4折起</div>
          </div>
          <div class="ol-card-ft">
          </div>
        </div>
        <!--  -->
       

      </div>
      <div class="code-box-meta">
        <div class="code-box-title">
          <h4>带头部的</h4>
        </div>
        <div class="code-box-description">
          <p>头部的间距为10px</p>
        </div>
      </div>
      <div class="code-box-actions ol-fs-16" target='card-3'>

         

      </div>
    </div>



    <!--  -->
    <div class="code-box">
      <div class="code-box-demo" >
       
         <!--  -->
         <div class="ol-card  ol-w-400" id="card-4" >
          <div class="ol-card-hd ol-layout-h c-space-b">
            <div class='ol-layout-h'><img class="ol-img-r_min"
                src='https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg' />
              <span class='ol-m-8__l ol-fs-14 ol-c_primary'>泡泡足迹</span></div>
            <div><span>1分钟前</span></div>
          </div>
          <div class="ol-card-thumb ol-layers ol-h-200">
            <img class="ol-layer ol-layer__f ol-h-200 ol-w__per-1" src="https://d.vpimg1.com/upcb/2020/04/29/150/ias_158814924466560_570x273_90.jpg" />
            <span class="ol-layer ol-layer_l ol-pos__b-8 ol-pos__l-12 ol-fs-16 ol-c_white">斐乐新品女鞋时尚休闲运动复古潮流老爹鞋</span>
          </div>
          <div class="ol-card-bd">
        
            <div class='ol-layout-h c-auto'>
              <div class='c-flex ol-m-10__r ol-fs-14 ol-line ol-break'>斐乐新品女鞋时尚休闲运动复古潮流老爹鞋闲运动复古潮流老爹鞋</div>
              <img class='ol-w-60 ol-h-60' src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg" alt="">
            </div>
            
            <div class='ol-layout-h c-auto ol-m-10__t'>
              <div class='c-flex ol-m-10__r ol-fs-14 ol-line ol-break'>斐乐新品女鞋时尚休闲运动复古潮流老爹鞋闲运动复古潮流老爹鞋</div>
              <img class='ol-w-60 ol-h-60' src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg" alt="">
            </div>



          </div>
          <div class="ol-card-ft">
          </div>
        </div>
        <!--  -->

      </div>
      <div class="code-box-meta">
      <div class="code-box-title">类似微信文章列表</div>
      <div class="code-box-description">
      <p>说明</p>
      </div>
      </div>
      <div class="code-box-actions ol-fs-16" target='card-4'>

      
      </div>
    </div>


  </div>
</body>

</html>