<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  -->
    <div class="code-box">
        <div class="code-box-demo">


            <div class='ol-dialog' id='d-1'>
                <div class='ol-dialog__hd'>标题</div>
                <div class='ol-dialog__bd'>内容</div>
                <div class='ol-dialog__ft'>
                    <div class='ol-dialog__actions'>
                        <button class='ol-btn'>确认</button>
                        <button class='ol-btn'>取消</button>
                    </div>
                </div>
            </div>

          
        </div>
        <div class="code-box-actions" target='d-1'>
           
        </div>
      </div>

      <!--  -->


       <!--  -->
    <div class="code-box">
        <div class="code-box-demo">


            <div class='ol-dialog' id='d-2'>
                <div class='ol-dialog__hd'>标题</div>
                <div class='ol-dialog__bd'>内容</div>
                <div class='ol-dialog__ft'>
                    <div class='ol-dialog__actions'>
                        <button class='ol-btn'>确认</button> 
                    </div>
                </div>
            </div>

          
        </div>
        <div class="code-box-actions" target='d-2'>
           
        </div>
      </div>

      <!--  -->


</body>
</html>