<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  -->
    <div class="code-box">
        <div class="code-box-demo ol-pos-rt ol-h-300">

            <div class='ol-dialog-wrap'  id='d-1'>

                <div class='ol-dialog'>
                    <div class='ol-dialog__hd'>标题</div>
                    <div class='ol-dialog__bd'>内容</div>
                    <div class='ol-dialog__ft'>
                        <div class='ol-dialog__actions'>
                            <button class='ol-btn'>确认</button>
                            <button class='ol-btn'>取消</button>
                        </div>
                    </div>
                </div>

                <div class='ol-dialog-overlayer'></div>

            </div>

          

          
        </div>
        <div class="code-box-actions" target='d-1'>
           
        </div>
      </div>

      <!--  -->


       <!--  -->
    <div class="code-box">
        <div class="code-box-demo ol-pos-rt ol-h-300">


            <div class='ol-dialog' id='d-2'>
                <div class='ol-dialog__hd'>标题</div>
                <div class='ol-dialog__bd'>内容</div>
                <div class='ol-dialog__ft'>
                    <div class='ol-dialog__actions'>
                        <button class='ol-btn'>确认</button> 
                    </div>
                </div>
            </div>

          
        </div>
        <div class="code-box-actions" target='d-2'>
           
        </div>
      </div>
      
      <!--  -->

      <!--  -->

      <div class="code-box">
          <div class="code-box-demo ol-pos-rt ol-h-300">
  
          <div class='ol-dialog-wrap' id='d-3'>
            <div class='ol-dialog  ol-bg-c_white ol-w-300' >
                <div class='ol-dialog__hd'>标题</div>
                <div class='ol-dialog__bd'>内容</div>
                <div class='ol-dialog__ft'>
                    <div class='ol-dialog__actions'>
                        <button class='ol-btn'>确认</button> 
                    </div>
                </div>
            </div>

           <div class='ol-dialog-overlayer ol-oc-3'></div>

          </div>
              
  
            
          </div>
          <div class="code-box-actions" target='d-3'>
             
          </div>
        </div>
       

      <!--  -->


</body>
</html>