<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <p>
      <img class="ol-img_min" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
    
      <img class="ol-img_s" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
     
      <img class="ol-img_m" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
    
      <img class="ol-img_b" src="https://img.zcool.cn/community/0179235e8edb8aa80120a8959572af.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
     </p>
  </div>
  <div class="code-box-actions">
    <span class="copy-tarojs"><i class="fa fa-file"></i></span>
  </div>
</div>

<!--  -->

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <p>
        <img class="ol-img-r_min" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       
        <img class="ol-img-r_s" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       
        <img class="ol-img-r_m" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
      
        <img class="ol-img-r_b" src="https://img.zcool.cn/community/0179235e8edb8aa80120a8959572af.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       </p>
    </div>
    <div class="code-box-actions">
      <span class="copy-tarojs"><i class="fa fa-file"></i></span>
    </div>
  </div>
  
  <!--  -->



  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <p>
        <img class="ol-img-100" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-120" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-160" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-180" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       
        <img class="ol-img-200" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       
        <img class="ol-img-260" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-300" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-360" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
      
        <img class="ol-img-400" src="https://img.zcool.cn/community/0179235e8edb8aa80120a8959572af.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-500" src="https://img.zcool.cn/community/0179235e8edb8aa80120a8959572af.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       </p>
      <p>
        <img class="ol-img-100_rect" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-120_rect" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-160_rect" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-180_rect" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       
        <img class="ol-img-200_rect" src="https://img.zcool.cn/community/016f135e8ea71ea801216518544f06.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       
        <img class="ol-img-260_rect" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-300_rect" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-360_rect" src="https://img.zcool.cn/community/0129415e8f1501a8012165187ffc54.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
      
        <img class="ol-img-400_rect" src="https://img.zcool.cn/community/0179235e8edb8aa80120a8959572af.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
        <img class="ol-img-500_rect" src="https://img.zcool.cn/community/0179235e8edb8aa80120a8959572af.jpg@260w_195h_1c_1e_1o_100sh.jpg" alt="">
       </p>
    </div>
    <div class="code-box-actions">
      <span class="copy-tarojs"><i class="fa fa-file"></i></span>
    </div>
  </div>
  
  <!--  -->

</body>
</html>