<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  


  <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <a href="" class="ol-a" id='l-1'><i class="fa fa-file"></i> 链接</a>
    <p class="ol-m-10__t">
      <span>激活状态：</span> <a href="" class="ol-a ol-a__active"><i class="fa fa-file"></i> 链接</a> 
    </p>
    <p class="ol-text_m ol-m-10__t">真实是我们的承诺。 <a href="" class="ol-a">查看详情 <i class="fa fa-file"></i></a></p>
  </div>
  <div class="code-box-actions" target='l-1'>
    <span class="copy-tarojs"><i class="fa fa-file"></i></span>
  </div>
</div>

<!--  -->

  
</body>
</html>