<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
        <div class="ol-join-box ol-bg-c_purple ol-w-300" id='login-1'>

          <div class="ol-join-box__logo">
            <p class='ol-layout-h'> <img class='ol-m-10__r ol-h-30' src="/css/icon/icon_tabbar.png" class=/>@oneline/style</p>
          </div>
          <div class="ol-join-box__title">
            <h3>登录/注册</h3>
            <p class="ol-join-box__subtitle">我们一直在等待着你!</p>
          </div>
          <div class="ol-join-box__bd">
            <div class="ol-join-box__form">
                <p class='ol-line ol-m-20__t'><input type="text" placeholder='请输入用户名'></p>
                <p class='ol-line ol-m-20__t'><input type="password" placeholder='请输入密码'></p>
                <p class='ol-layout-h c-space-b ol-m-40__t'><a class="ol-a">忘记密码?</a><a href="" class="ol-btn ol-btn_purple">登录</a></p>
            </div>
          </div>
          <div class="ol-join-box__ft">
            <p class='ol-ta-c'>
              <a class="ol-a">登录</a>
              <span class='ol-split'>|</span>
              <a href="" class="ol-a">注册</a>
            </p>
          </div>
          

        </div>
    </div>
    <div class="code-box-meta">
    <div class="code-box-title">登录</div>
    <div class="code-box-description">
    <p>普通登录界面</p>
    </div>
    </div>
    <div class="code-box-actions" target='login-1'></div>
  </div>
  
</body>
</html>