<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
       <span class='ol-price'>¥ 999.99</span>
    </div>
    <div class="code-box-meta">
       <div class="code-box-title">
         <h4>基础价格</h4>
        </div>
        <p class="code-box-description">
           直接使用<code class='ol-tag ol-tag_muted'>.ol-price</code>
        </p>
    </div>
    <div class="code-box-actions"></div>
  </div>
  <!--  -->
  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
       <span class='ol-price'><span class='ol-price__mark'>¥ </span>999.99</span> <br/>
       <span class='ol-price'>999.99<span class='ol-price__mark'> ¥</span></span>
    </div>
    <div class="code-box-meta">
       <div class="code-box-title">
         <h4>价格的钱币符号</h4>
        </div>
        <p class="code-box-description">
           在<code class='ol-tag ol-tag_muted'>.ol-price</code>的子类<code class='ol-tag ol-tag_muted'>.ol-price__mark</code> 来标记💰的符号
        </p>
    </div>
    <div class="code-box-actions"></div>
  </div>
  <!--  -->

   <!--  -->
   <div class="code-box">
    <div class="code-box-demo">
       <span class='ol-price_b'><span class='ol-price__mark'>¥ </span>999.99</span> <br/>
       <span class='ol-price_m'>999.99<span class='ol-price__mark'> ¥</span></span> <br/>
       <span class='ol-price_s'>999.99<span class='ol-price__mark'> ¥</span></span>
    </div>
    <div class="code-box-meta">
       <div class="code-box-title">
         <h4>价格的大小</h4>
        </div>
        <p class="code-box-description">
          价格分为 small, medium, big 大小样式。对应的是： <code class='ol-tag ol-tag_muted'>.ol-price_s</code>
           <code class='ol-tag ol-tag_muted'>.ol-price_m</code> <code class='ol-tag ol-tag_muted'>.ol-price_b</code>
        </p>
    </div>
    <div class="code-box-actions"></div>
  </div>
  <!--  -->

  <!--  -->
</body>
</html>