<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <div class="code-box">
    <div class="code-box-demo">
       <span class="ol-tag ol-tag_danger">danger</span>
       <span class="ol-tag ol-tag_primary" id='t-1'>primary</span>
       <span class="ol-tag ol-tag_success">success</span>
       <span class="ol-tag ol-tag_pink">pink</span>
       <span class="ol-tag ol-tag_purple">purple</span>
       <span class="ol-tag ol-tag_dark">dark</span>
       <span class="ol-tag ol-tag_info">info</span>
       <span class="ol-tag ol-tag_muted">muted</span>
       <span class="ol-tag ol-tag_default">default</span>
    </div>
    <div class="code-box-actions" target='t-1'>
      <span class="copy-tarojs"><i class="fa fa-file"></i></span>
    </div>
  </div>


  



</body>
</html>