<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <div class="code-box">
    <div class="code-box-demo">
      <h1 class="ol-h1"><span class="ol-tag ol-tag_primary">120</span>h1.Hello @oneline/style</h1>
      <h2 class="ol-h2">h2.Hello @oneline/style</h2>
      <h3 class="ol-h3">h3.Hello @oneline/style</h3>
      <h4 class="ol-h4">h4.Hello @oneline/style</h4>
      <h5 class="ol-h5">h5.Hello @oneline/style</h5>
      <h6 class="ol-h6">h6.Hello @oneline/style</h6>
    </div>
    <div class="code-box-actions">
      <span class="copy-tarojs"><i class="fa fa-file"></i></span>
    </div>
  </div>

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <p class="ol-text"><span class="ol-tag ol-tag_primary">120</span> <i class="fa fa-file ol-icon"></i>h1.Hello @oneline/style</p>
      <p class="ol-text-second ol-m-10__t"><span class="ol-tag ol-tag_primary">120</span><i class="fa fa-file ol-icon"></i>h1.Hello @oneline/style</p>
      <p class="ol-text ol-m-10__t"><span class="ol-tag ol-tag_primary">120</span>h1.Hello @oneline/style  <i class="fa fa-file ol-icon"></i></p>
    </div>
    <div class="code-box-actions">
      <span class="copy-tarojs"><i class="fa fa-file"></i></span>
    </div>
  </div>

<!--  -->


 <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
    <p class="ol-text_s"><span class="ol-tag ol-tag_primary">small</span> <i class="fa fa-file ol-icon"></i> h1.Hello @oneline/style</p>
    <p class="ol-text_m ol-m-10__t"><span class="ol-tag ol-tag_primary">medium</span> <i class="fa fa-file ol-icon"></i> h1.Hello @oneline/style</p>
    <p class="ol-text-second_b ol-m-10__t"><span class="ol-tag ol-tag_primary">big</span> <i class="fa fa-file ol-icon"></i> h1.Hello @oneline/style</p>
    <h3 class="ol-h3 ol-m-10__t">品质</h3>
    <h3 class="ol-text_b">BETTER</h3>
    <p class="ol-text_b ol-m-10__t">我们提供完善的设计原则、最佳实践和设计资源文件（Sketch 和Axure），来帮助业务快速设计出高质量的产品原型。我们提供完善的设计原则、最佳实践和设计资源文件（Sketch 和Axure），来帮助业务快速设计出高质量的产品原型。</p>
  </div>
  <div class="code-box-actions">
    <span class="copy-tarojs"><i class="fa fa-file"></i></span>
  </div>
</div>

<!--  -->


 <!--  -->
 <div class="code-box">
  <div class="code-box-demo">
   
    <p class="ol-text-second_m ol-m-10__t">
      <span class=" ol-icon"><i class="fa fa-eye"></i> 290</span>
      <span class=" ol-icon"><i class="fa fa-comment"></i> 290</span>
      <span class=" ol-icon"><i class="fa fa-thumbs-up"></i> 290</span>
    </p>
    
  </div>
  <div class="code-box-actions">
    <span class="copy-tarojs"><i class="fa fa-file"></i></span>
  </div>
</div>

<!--  -->



</body>
</html>