<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  


</head>

<body >

  <style>
    .example {
      text-align: center;
    }
    .example > .ol-layout {
      margin-bottom: 80px;
    }

    .example .ol-layout-header,
    .example .ol-layout-footer {
      color: #fff;
      background: #7dbcea;
    }

    .example .ol-layout-content {
      background: rgba(16, 142, 233, 1);
      color: #fff;
      min-height: 120px;
      line-height: 120px;
    }

    .example .ol-layout-sider {
      background: #3ba0e9;
      color: #fff;
      line-height: 120px
    }
  </style>


<div class="example">

<!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-layout">
        <header class="ol-layout-header">头部</header>
        <main class="ol-layout-content">主体内容</main>
        <footer class='ol-layout-footer'>底部</footer>
      </div>


    </div>
    <div class="code-box-meta">
      <div class="code-box-title">框架布局基础</div>
      <div class="code-box-description">
        <p>框架布局以 ol-layout作为主容器， 容器下分为 ol-layout-header, ol-layout-content, ol-layout-footer</p>
      </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-layout  ol-layout-has-sider">
        <aside class="ol-layout-sider" style='width: 200px;'>
           <div class="ol-layout-sider-children">左边</div>
        </aside>
        <section class="ol-layout">
          <header class="ol-layout-header">头部</header>
          <main class="ol-layout-content">主体内容</main>
          <footer class='ol-layout-footer'>底部</footer>
        </section>
      </div>


    </div>
    <div class="code-box-meta">
      <div class="code-box-title">小边占满左边</div>
      <div class="code-box-description">
        <p>如果涉及到小边的框架布局， 加入与ol-layout 平级的ol-layout-has-sider, 其容器下有ol-layout-sider, 该sider下有 ol-layout-sider-children</p>
      </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->

  




  


 



  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-layout">
        <header class="ol-layout-header">头部</header> 
        <section class="ol-layout   ol-layout-has-sider">
          <aside class="ol-layout-sider" style='width: 200px;'>
            <div class="ol-layout-sider-children">左边</div>
         </aside>
         <main class="ol-layout-content">主体内容</main>
        </section>
        <footer class='ol-layout-footer'>底部</footer>
      </div>


    </div>
    <div class="code-box-meta">
      <div class="code-box-title">小边靠左</div>
      <div class="code-box-description">
        <p>ol-layout， ol-layout-has-sider 可以相互嵌套， 来完成不一样的布局形似。</p>
      </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->




  


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-layout">
        <header class="ol-layout-header">头部</header> 
        <section class="ol-layout   ol-layout-has-sider">
          <main class="ol-layout-content">主体内容</main>
          <aside class="ol-layout-sider" style='width: 200px;'>
            <div class="ol-layout-sider-children">左边</div>
         </aside>
        </section>
        <footer class='ol-layout-footer'>底部</footer>
      </div>


    </div>
    <div class="code-box-meta">
      <div class="code-box-title">小边靠右</div>
      <div class="code-box-description">
        <p>ol-layout子类顺序不一样， 展示效果也不一样</p>
      </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->




</>


</body>

</html>