<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
</head>
<body>
 
  <div class="example">


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

    <div class='ol-layers ol-h-100 ol-m-20 ol-bg-c_success' id='lay-1'>
      <div class='ol-layer ol-layer__f ol-zi-0'>
        <img class='' src="https://assets.materialup.com/uploads/f329afe5-4760-4535-9cff-ac5a2acb96d2/preview.png"/>
      </div>
      <div class='ol-layer ol-layer__t ol-zi-1 ol-pos__t-10'>顶部</div>
      <div class='ol-layer ol-layer__b ol-zi-1 ol-pos__b-10'>底部</div>
      <div class='ol-layer ol-layer__r ol-zi-1 ol-pos__r-10'>右边</div>
      <div class='ol-layer ol-layer__l ol-zi-1 ol-pos__l-10'>左边</div>
      <div class='ol-layer ol-layer__c ol-zi-1'>中间</div>
  </div>

  </div>
  <div class="code-box-meta">
    <div class="code-box-title">
      <h4>层次布局</h4>
    </div>
    <div class="code-box-description">
       <p>
          层次布局需要在 ol-layers容器下， 其子类ol-layer为必要项。 在未其子类，设定不一样的方向. 方向分为 t, b, r, l, c, f 对应的解释为： top, bottom, right, left, center, fill. fill为填充整个容器
       </p>
       <p>格式为：<code class='ol-tag ol-tag_muted'>ol-layers > ol-layer + ol-layer__[t|b|r|l|c|f]</code></p>
    </div>
  </div>
  <div class="code-box-actions" target='lay-1'></div>
</div>

<!--  -->

   <!--  -->
   <div class="code-box">
    <div class="code-box-demo">



    <div class="ol-layers ol-h-300 ol-m-30 ol-w-500 ol-br-10 ol-bg-c_danger" id='lay-2'>
      <div class="ol-layer ol-layer__f">
        <span class="ol-layer ol-zi-0">
          <img class="ol-img" src="https://img10.360buyimg.com/ling/jfs/t1/112290/35/2116/67015/5e9eee51E11ea7938/886d7ddc2e9e6026.png"/> 
        </span>
        <span class="ol-layer ol-zi-1">
          <img src="https://img14.360buyimg.com/ling/jfs/t1/86295/16/9062/76285/5e0a0d3cEbecb8f2f/d3d3936de4a9ab25.png" alt="" class="ol-img">
        </span>
        
      </div>
      <div class='ol-layer ol-layer__b ol-m-10__b ol-zi-2'>
        <span class='ol-inline ol-w-10 ol-h-10 ol-br ol-bg-c_primary'></span>
        <span class='ol-inline ol-w-10 ol-h-10 ol-br ol-m-10__l ol-bg-c_primary'></span>
        <span class='ol-inline ol-w-10 ol-h-10 ol-br ol-m-10__l ol-bg-c_primary'></span>
      </div>
    </div>


  </div>
  <div class="code-box-meta">
    <div class="code-box-title">
      <h4>层次布局实例</h4>
    </div>
    <div class="code-box-description">
       <p>
          当前展示的是一个轮播图格式。
       </p>
        
    </div>
  </div>
  <div class="code-box-actions" target='lay-2'></div>
</div>

<!--  -->


  </div>
</body>
</html>