<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    .example .ol-layout-g > div {
      background: #ff6600;
      padding: 50px;
      text-align: center;
    }
  </style>

  <div class="example">



  <div class="code-box">
    <div class="code-box-demo">

      <!--  -->
      <div class="ol-layout-g g-3 gap-10" id='g-1'>
        <div class="ol-b-success_1 ol-bg-c_white">G1</div>
        <div>G2</div>
        <div>G3</div> 
        <div>G4</div>
        <div>G5</div>
        <div>G6</div> 
        <div>G7</div>
        <div>G8</div>
        <div>G9</div> 
      </div>
      <!--  -->
    </div>
    <div class="code-box-meta">
      <div class="code-box-title"><h4>网格布局</h4></div>
      <div class="code-box-description">
        <p>网格布局以   <code class="ol-tag ol-tag_muted">  .ol-layout-g </code></p>
        <p>其所有附加类都应用在容器上。</p>
        <p>网格间距使用   <code class="ol-tag ol-tag_muted">  .gap-10 </code></p>
        <p>网格数量，行最大9个格子.   <code class="ol-tag ol-tag_muted">  .g-9 </code> </p>
      </div>
    </div>
    <div class="code-box-actions" target='g-1'></div>
  </div>

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <!--  -->
      <div class="ol-layout-g g-4 gap-10" id='g-2'>
        <div>G1</div>
        <div>G2</div>
        <div>G3</div> 
        <div>G4</div>  
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='g-2'></div>
  </div>


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <!--  -->
      <div class="ol-layout-g g-5 gap-10" id='g-3'>
        <div>G1</div>
        <div>G2</div>
        <div>G3</div> 
        <div>G4</div> 
        <div>G5</div> 
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='g-3'></div>
  </div>


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <!--  -->
      <div class="ol-layout-g g-6 gap-10" id='g-4'>
        <div>G1</div>
        <div>G2</div>
        <div>G3</div> 
        <div>G4</div> 
        <div>G5</div> 
        <div>G6</div> 
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='g-4'></div>
  </div>

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <!--  -->
      <div class="ol-layout-g g-7 gap-10" id='g-5'>
        <div>G1</div>
        <div>G2</div>
        <div>G3</div> 
        <div>G4</div> 
        <div>G5</div> 
        <div>G6</div> 
        <div>G7</div> 
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='g-5'></div>
  </div>



  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <!--  -->
      <div class="ol-layout-g g-8 gap-10" id='g-6'>
        <div>G1</div>
        <div>G2</div>
        <div>G3</div> 
        <div>G4</div> 
        <div>G5</div> 
        <div>G6</div> 
        <div>G7</div> 
        <div>G8</div> 
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='g-6'></div>
  </div>


  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

      <!--  -->
      <div class="ol-layout-g g-9 gap-10" id='g-7'>
        <div>G1</div>
        <div>G2</div>
        <div>G3</div> 
        <div>G4</div> 
        <div>G5</div> 
        <div>G6</div> 
        <div>G7</div> 
        <div>G8</div> 
        <div>G9</div> 
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='g-7'></div>
  </div>




</div>
</body>
</html>