<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <!--  -->

      <div class='ol-cart ol-w-400' id='c-1'>



        <!--  -->
        <div class="ol-card ol-block">
          <div class="ol-card-hd ol-layout-h c-space-b">
            <div class="ol-layout-h">

              <span class='ol-checkbox ol-checkbox_sm'>
                <span class='ol-checkbox__input'>
                  <span class='ol-checkbox__inner ol-br'></span>
                </span>

              </span>

              <img class="ol-img-r_min"
                src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg">
              <span class="ol-m-8__l">Kissy如吻官方旗舰店</span>
            </div>
            <div><span>可以为其他附加功能</span></div>
          </div>

          <div class="ol-card-bd">
            <div class="ol-layout-h ol-layers">

              <span class='ol-checkbox ol-checkbox_sm'>
                <span class='ol-checkbox__input'>
                  <span class='ol-checkbox__inner ol-br'></span>
                </span>

              </span>


              <img class="ol-w-70 ol-h-70"
                src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg"
                alt="">
              <div class="c-flex ol-m-10__l ol-fs-14 ol-break ol-p-10">

                <p>
                  斐乐新品女鞋时尚休闲运动复古潮流老爹鞋闲运动复古潮流老爹鞋
                </p>
                <p class='ol-bg-c_light ol-p-8 ol-m-10__t ol-fs-12'>凤凰</p>
                <p class='ol-price ol-m-10__t'><i>¥</i>62.90</p>
              </div>

              <div class='ol-layer ol-layer__rb'>这里是数字组件</div>

            </div>
          </div>
          <div class="ol-card-ft ol-p-8">
            这里是其他功能
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="ol-card ol-block ol-m-10__t">
          <div class="ol-card-hd ol-layout-h c-space-b">
            <div class="ol-layout-h">

              <span class='ol-checkbox ol-checkbox_sm'>
                <span class='ol-checkbox__input'>
                  <span class='ol-checkbox__inner ol-br'></span>
                </span>

              </span>

              <img class="ol-img-r_min"
                src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg">
              <span class="ol-m-8__l">Kissy如吻官方旗舰店</span>
            </div>
            <div><span>领券</span></div>
          </div>

          <div class="ol-card-bd">
            <div class="ol-layout-h ol-layers">

              <span class='ol-checkbox ol-checkbox_sm'>
                <span class='ol-checkbox__input'>
                  <span class='ol-checkbox__inner ol-br'></span>
                </span>

              </span>


              <img class="ol-w-70 ol-h-70"
                src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg"
                alt="">
              <div class="c-flex ol-m-10__l ol-fs-14 ol-break ol-p-10">

                <p>
                  斐乐新品女鞋时尚休闲运动复古潮流老爹鞋闲运动复古潮流老爹鞋
                </p>
                <p class='ol-bg-c_light ol-p-8 ol-m-10__t ol-fs-12'>凤凰</p>
                <p class='ol-price ol-m-10__t'><i>¥</i>62.90</p>
              </div>

              <div class='ol-layer ol-layer__rb'>这里是数字组件</div>

            </div>
          </div>
          <div class="ol-card-ft ol-p-8">
            这里是其他功能
          </div>
        </div>
        <!--  -->

        <div class="ol-layout-h  c-space-b ol-b-light_1 ol-p-10">

          <span class='ol-checkbox ol-checkbox_sm'>
            <span class='ol-checkbox__input'>
              <span class='ol-checkbox__inner ol-br'></span>
            </span>
            <span class='ol-checkbox__label'>全选</span>
          </span>


          <div class='ol-layout-h c-cent ol-block'>
            <span class="ol-m-8__l">合计: <span class='ol-price'> <i>¥</i> 0 </span> </span>
            <span class='ol-btn ol-btn_md ol-btn_warning ol-m-10__l'>结算</span>
          </div>


        </div>

      </div>


      <!--  -->
    </div>
    <div class="code-box-meta">
      <div class="code-box-title"></div>
      <div class="code-box-description">
        <p>说明</p>
      </div>
    </div>
    <div class="code-box-actions" target='c-1'></div>
  </div>

</body>

</html>