<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <div class="code-box">
    <div class="code-box-demo">
          <!--  -->
          <div class="ol-shop-event">
            <div class="ol-shop-event-title">新品推荐</div>
            <div class="ol-shop-event-subtitle">The New</div>
            <div class="ol-shop-event-item">
              <div class="ol-shop-event-thumb">
                <img src="http://lemonbox.net/img/post-img3.316d1830.jpg" />
              </div>
              <div class="ol-shop-event-info">
                <div class="ol-shop-event-info__title">01 洁面巾礼包</div>
                <div class="ol-shop-event-info__subtitle">01 洁面巾礼包</div>
                <div class="ol-shop-event-info__price">
                  <label>活动价：</label>
                  <span class="ol-price">
                    <i class="ol-price__mark">¥</i> 22
                  </span>
                </div>
                <div class="ol-shop-event-info__actions">
                  <div class="ol-tag ol-tag_pink">立即抢购 》</div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
    </div>
    <div class="code-box-actions">
      <span class="copy" title="复制代码"><i class="fa fa-file"></i></span>
      <span class="copy-tarojs" title="复制Tarojs"><i class="fa fa-file"></i></span> 
    </div>
  </div>
  
</body>
</html>