<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div class="code-box">
    <div class="code-box-demo">
      <!--  -->
      <div class="ol-card  ol-w-400 ol-p-10" id='o-1'>
        <div class="ol-card-hd ol-layout-h c-space-b">
          <div class="ol-layout-h"><img class="ol-img-r_min"
              src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg">
            <span class="ol-m-8__l ol-fs-14 ol-c_dark">TPXXXXXX官方旗舰店</span></div>
          <div><span class='ol-c_muted'>待支付</span></div>
        </div>

        <div class="ol-card-bd">

          <div class="ol-layout-h">
            <img class="ol-w-70 ol-h-70"
              src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg" alt="">
            <div class="c-flex ol-m-10__l ol-fs-14 ol-break">斐乐新品女鞋时尚休闲运动复古潮流老爹鞋闲运动复古潮流老爹鞋</div>
            <div class='ol-layout-v ol-w-90'>
              <span class='ol-price'><i>¥</i>62.90</span>
              <span class='ol-fs-12 ol-c_muted'>共12件</span>
            </div>
          </div>

        </div>
        <div class="ol-card-ft ol-ta-r ol-p-10">
          <span class='ol-btn ol-btn-o_success ol-btn_md ol-m-8__r'>支付订单</span>
          <span class='ol-btn ol-btn-o_muted ol-btn_md'>取消订单</span>
        </div>
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='o-1'>

    </div>
  </div>



  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <!--  -->
      <div class="ol-card  ol-w-400 ol-p-10" id='o-2'>
        <div class="ol-card-hd ol-layout-h c-space-b">
          <div class="ol-layout-h"><img class="ol-img-r_min"
              src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg">
            <span class="ol-m-8__l ol-fs-14 ol-c_dark">TPXXXXXX官方旗舰店</span></div>
          <div><span class='ol-c_muted'>待支付</span></div>
        </div>

        <div class="ol-card-bd">

          <div class="ol-layout-h c-auto">
            <img class="ol-w-70 ol-h-70"
              src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg" alt="">
            <div class="c-flex ol-m-10__l  ol-break">
              <div class='ol-fs-14'>斐乐新品女鞋时尚休闲运动复古潮流老爹鞋闲运动复古潮流老爹鞋</div>
              <p class='ol-fs-12 ol-c_muted ol-p-8__t ol-p-8__b'>颜色分类: 杯子+本子+纪念币</p>
              <span class='ol-fs-12'>退款: ¥123.00</span>

            </div>

          </div>

          <p class='ol-bg-c_light ol-p-10 ol-m-10__t ol-m-10__b'>退款成功 退款成功¥123.00</p>

        </div>
        <div class="ol-card-ft ol-ta-r ol-p-10">
          <span class='ol-btn ol-btn-o_success ol-btn_md ol-m-8__r'>支付订单</span>
          <span class='ol-btn ol-btn-o_muted ol-btn_md'>取消订单</span>
        </div>
      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='o-2'>

    </div>
  </div>
  <!--  -->

</body>

</html>