<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!--  -->
  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <!--  -->
      <div>
        <div class="ol-tabs ol-tabs-h ol-tabs-h_l ol-w-400" id='pc-1'>
          <div class="ol-tabs__hd">
            <div class="ol-tab ol-tab__active"><a href="" class="ol-a">待付款</a></div>
            <div class="ol-tab"><a href="" class="ol-a">待发货</a></div>
            <div class="ol-tab"><a href="" class="ol-a">待收获</a></div>
            <div class="ol-tab "><a href="" class="ol-a">退款/售后</a></div>
            <div class="ol-tab"><a href="" class="ol-a">全部订单</a></div>
          </div>

          <div class="ol-tabs__bd">

            <div>
              <img src="https://img.zcool.cn/community/00246f5e8fceada80121651824f3fb.png@520w_200h_1c_1e_1o_100sh.jpg"
                alt="">
            </div>


            <div class='ol-layout-g g-2 gap-10' style='padding: 10px 0;'>
              <!--  -->
              <div class="ol-card">
                <div class="ol-card-thumb">
                  <img
                    src="https://img.alicdn.com/tfscom/i2/57220545/TB2aS7GibxmpuFjSZJiXXXauVXa_!!57220545.jpg_180x180xzq90.jpg_.webp">
                </div>
                <div class="ol-card-bd">
                  <div class="ol-card-title">维生素</div>
                  <div class="ol-card-subtitle">补钙搭档</div>
                  <span class="ol-price"><i class="ol-price__mark">¥</i>59</span>
                </div>
                <div class="ol-card-ft">
                </div>
              </div>
              <!--  -->

              <!--  -->
              <div class="ol-card">
                <div class="ol-card-thumb">
                  <img
                    src="https://img.alicdn.com/tfscom/i2/57220545/TB2aS7GibxmpuFjSZJiXXXauVXa_!!57220545.jpg_180x180xzq90.jpg_.webp">
                </div>
                <div class="ol-card-bd">
                  <div class="ol-card-title">维生素</div>
                  <div class="ol-card-subtitle">补钙搭档</div>
                  <span class="ol-price"><i class="ol-price__mark">¥</i>59</span>
                </div>
                <div class="ol-card-ft">
                </div>
              </div>
              <!--  -->
              <!--  -->
              <div class="ol-card">
                <div class="ol-card-thumb">
                  <img
                    src="https://img.alicdn.com/tfscom/i2/57220545/TB2aS7GibxmpuFjSZJiXXXauVXa_!!57220545.jpg_180x180xzq90.jpg_.webp">
                </div>
                <div class="ol-card-bd">
                  <div class="ol-card-title">维生素</div>
                  <div class="ol-card-subtitle">补钙搭档</div>
                  <span class="ol-price"><i class="ol-price__mark">¥</i>59</span>
                </div>
                <div class="ol-card-ft">
                </div>
              </div>
              <!--  -->

              <div class="ol-card">
                <div class="ol-card-thumb">
                  <img
                    src="https://img.alicdn.com/tfscom/i2/57220545/TB2aS7GibxmpuFjSZJiXXXauVXa_!!57220545.jpg_180x180xzq90.jpg_.webp">
                </div>
                <div class="ol-card-bd">
                  <div class="ol-card-title">维生素</div>
                  <div class="ol-card-subtitle">补钙搭档</div>
                  <span class="ol-price"><i class="ol-price__mark">¥</i>59</span>
                </div>
                <div class="ol-card-ft">
                </div>
              </div>
              <!--  -->
              <div class="ol-card">
                <div class="ol-card-thumb">
                  <img
                    src="https://img.alicdn.com/tfscom/i2/57220545/TB2aS7GibxmpuFjSZJiXXXauVXa_!!57220545.jpg_180x180xzq90.jpg_.webp">
                </div>
                <div class="ol-card-bd">
                  <div class="ol-card-title">维生素</div>
                  <div class="ol-card-subtitle">补钙搭档</div>
                  <span class="ol-price"><i class="ol-price__mark">¥</i>59</span>
                </div>
                <div class="ol-card-ft">
                </div>
              </div>
              <!--  -->
              <div class="ol-card">
                <div class="ol-card-thumb">
                  <img
                    src="https://img.alicdn.com/tfscom/i2/57220545/TB2aS7GibxmpuFjSZJiXXXauVXa_!!57220545.jpg_180x180xzq90.jpg_.webp">
                </div>
                <div class="ol-card-bd">
                  <div class="ol-card-title">维生素</div>
                  <div class="ol-card-subtitle">补钙搭档</div>
                  <span class="ol-price"><i class="ol-price__mark">¥</i>59</span>
                </div>
                <div class="ol-card-ft">
                </div>
              </div>
              <!--  -->

            </div>

          </div>

        </div>
      </div>
      <!--  -->
    </div>
    <div class="code-box-meta">
      <div class="code-box-title"></div>
      <div class="code-box-description">
        <p>说明</p>
      </div>
    </div>
    <div class="code-box-actions" target='pc-1'></div>
  </div>
  <!--  -->

</body>

</html>