<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div class="code-box">
    <div class="code-box-demo">
      <!--  -->
      <div class="ol-profile ol-b-light_1  ol-w-300" id='p-1'>

        <div class='ol-c_white ol-bg-c_dark ol-p-20__b'>
        <!--  -->
        <div class="ol-layout-h ol-p-15">
          <span>
            <img class="ol-br ol-img ol-w-80 ol-h-80 ol-b-white_3"
              src="https://img.zcool.cn/community/045ba4583f815ea801219c775035b9.jpg@80w_80h_1c_1e_1o_100sh.jpg"
              alt="">
          </span>
          <div class="ol-layout-v c-left ol-p-16__l">
            <span class="ol-fs-18">小桃子</span>
            <span class="ol-fs-12 ol-lh-30">热爱生活，更热爱美好</span>
          </div>
        </div>
        <!--  -->

        <div class="ol-layout-h c-auto">

          <div class="ol-layou-v ol-ta-c c-flex">
            <h3 class="ol-fs-26">159</h3>
            <span class="ol-c_muted ol-fs-12"><i class="fa fa-users"></i> 收藏</span>
          </div>

          <div class="ol-layou-v ol-ta-c c-flex">
            <h3 class="ol-fs-26">129</h3>
            <span class="ol-c_muted ol-fs-12"><i class="fa fa-chart-bar"></i> 关注</span>
          </div>

          <div class="ol-layou-v ol-ta-c c-flex">
            <h3 class="ol-fs-26">588</h3>
            <span class="ol-c_muted ol-fs-12"><i class="fa fa-fighter-jet"></i> 足迹</span>
          </div>

          <div class="ol-layou-v ol-ta-c c-flex">
            <h3 class="ol-fs-26">588</h3>
            <span class="ol-c_muted ol-fs-12"><i class="fa fa-fighter-jet"></i> 卡券</span>
          </div>


        </div>

        <!--  -->
      </div>
        <!--  -->
        <div class=" ol-p-10 ol-m-20__b ol-m-20__t">

          
          <div class="ol-grid-guid ol-layout-g g-4 ol-c_muted">
            <div class="ol-ta-c">
              <span class="ol-icon ol-fs-22"><i class="fa fa-address-card"></i></span>
              <p>待付款</p>
            </div>
            <div class="ol-ta-c">
              <span class="ol-icon ol-fs-22"><i class="fa fa-truck"></i></span>
              <p>待收货</p>
            </div>
            <div class="ol-ta-c">
              <span class="ol-icon ol-fs-22"><i class="fa fa-edit"></i></span>
              <p>待发货</p>
            </div>
            <div class="ol-ta-c">
              <span class="ol-icon ol-fs-22"><i class="fa  fa-credit-card"></i></span>
              <p>退款/售后</p>
            </div>
  
  
          </div>

        </div>
        
        <!--  -->

        <!--  -->
        
        <div class="ol-cells ol-m-10__t">

          
          <!--  -->
          <div class="ol-cell ol-cell_access">
            <span class="ol-cell__hd">
              <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
            </span>

            <span class="ol-cell__bd">我的钱包</span>
            <span class="ol-cell__ft"></span>

          </div>
          <!--  -->
          <div class="ol-cell ol-cell_access">
            <span class="ol-cell__hd">
              <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
            </span>

            <span class="ol-cell__bd">游戏数据</span>
            <span class="ol-cell__ft"></span>

          </div>
          <!--  -->
          <div class="ol-cell ol-cell_access">
            <span class="ol-cell__hd">
              <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
            </span>

            <span class="ol-cell__bd">荣誉奖牌</span>
            
            <span class="ol-cell__ft"></span>
          </div>
          <!--  -->
          <div class="ol-cell ol-cell_access">
            <span class="ol-cell__hd">
              <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
            </span>

            <span class="ol-cell__bd">我的地址</span>
            
            <span class="ol-cell__ft"></span>
          </div>
          <!--  -->
          <div class="ol-cell ol-cell_access">
            <span class="ol-cell__hd">
              <img src="/css/icon/icon_tabbar.png" class="ol-cell__icon" />
            </span>

            <span class="ol-cell__bd">设置</span>
            
            <span class="ol-cell__ft"></span>
          </div>


          <!--  -->
        
          <!--  -->


        </div>
        <!--  -->

        <!--  -->

      </div>
      <!--  -->
    </div>
    <div class="code-box-actions" target='p-1'>

    </div>
  </div>

</body>

</html>