<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
</head>

<body ontouchstart>
  <!-- <p>大小： 固定，inline, auto</p>
  <p>颜色： </p>
  <p>图标： </p>
  <p>圆角： </p>
  <p>激活：</p> -->
 <div class="ol-layout-g g-3 gap-10">
    <!-- inc btn/btn_default.html-->
    <!-- inc btn/btn_hollow.html-->
    <!-- inc btn/btn_icon.html-->
    <!-- inc btn/btn_circle.html-->
    <!-- inc btn/btn_width_full.html-->
    <!-- inc btn/btn_split.html-->
    <!-- inc btn/btn_size.html-->
    <!-- inc btn/btn_loading.html-->
 </div> 


</body>

</html>