<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

        <span class='ol-checkbox'>
          <span class='ol-checkbox__input'>
            <span class='ol-checkbox__inner ol-checkbox__checked'></span>
          </span>
          <span class='ol-checkbox__label'>复选框</span>
        </span>

        <span class='ol-checkbox'>
          <span class='ol-checkbox__input'>
            <span class='ol-checkbox__inner'></span>
          </span>
          <span class='ol-checkbox__label'>复选框</span>
        </span>

    </div>
    <div class="code-box-meta">
    <div class="code-box-title">基本的复选框</div>
    <div class="code-box-description">
    <p>说明</p>
    </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->
  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">

        <span class='ol-checkbox'>
          <span class='ol-checkbox__input'>
            <span class='ol-checkbox__inner ol-br is-checked'></span>
          </span>
          <span class='ol-checkbox__label'>复选框</span>
        </span>

        <span class='ol-checkbox'>
          <span class='ol-checkbox__input'>
            <span class='ol-checkbox__inner ol-br ol-checkbox__checked'></span>
          </span>
          <span class='ol-checkbox__label'>复选框</span>
        </span>

    </div>
    <div class="code-box-meta">
    <div class="code-box-title">圆角复选框</div>
    <div class="code-box-description">
    <p>说明</p>
    </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->
  
 
  <div class="code-box">
    <div class="code-box-demo">





      <span class='ol-checkbox ol-checkbox_sm'>
        <span class='ol-checkbox__input'>
          <span class='ol-checkbox__inner'></span>
        </span>
        <span class='ol-checkbox__label'>复选框</span>
      </span>


        <span class='ol-checkbox ol-checkbox_sm'>
          <span class='ol-checkbox__input'>
            <span class='ol-checkbox__inner ol-br ol-checkbox__checked'></span>
          </span>
          <span class='ol-checkbox__label'>复选框</span>
        </span>




        <span class='ol-checkbox ol-checkbox_lg'>
          <span class='ol-checkbox__input'>
            <span class='ol-checkbox__inner ol-br'></span>
          </span>
          <span class='ol-checkbox__label'>复选框</span>
        </span>


        <span class='ol-checkbox ol-checkbox_lg'>
          <span class='ol-checkbox__input'>
            <span class='ol-checkbox__inner ol-br ol-checkbox__checked'></span>
          </span>
          <span class='ol-checkbox__label'>复选框</span>
        </span>






    </div>
    <div class="code-box-meta">
    <div class="code-box-title">圆角复选框</div>
    <div class="code-box-description">
    <p>说明</p>
    </div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->

   

</body>
</html>