<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


  <div class="code-box">
    <div class="code-box-demo">
      <input type="text" placeholder="请输入内容" class="ol-input ol-br-2" />

    </div>
    <div class="code-box-meta">
      <div class="code-box-title">基本输入框</div>
      <div class="code-box-description">输入框说明</div>
    </div>
    <div class="code-box-actions"></div>
  </div>
  
  <!--  -->
  <!--  -->

  <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-input-affix">
        <span class="affix"><i class='fa fa-user'></i></span>
        <input type="text" placeholder="请输入内容" class="ol-input ol-br-2" />
        <span class="affix"><i class='fa fa-eye'></i></span>
      </div>

    </div>
    <div class="code-box-meta">
      <div class="code-box-title">基本输入框</div>
      <div class="code-box-description">输入框说明</div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->


   <!--  -->

   <div class="code-box">
    <div class="code-box-demo">

      <div class="ol-input-addon">
        <span class="addon">密码:</span>
        <input type="password" placeholder="请输入内容" class="ol-input" />
        <span class="addon"><i class='fa fa-eye'></i></span>
      </div>


      <div class="ol-input-addon ol-m-20__t">
        <span class="addon">密码:</span>
        <div class="ol-input-affix">
          <input type="password" placeholder="请输入内容" class="ol-input" />
          <span class="affix"><i class='fa fa-eye'></i></span>
        </div>

        <span class="addon"><i class='fa fa-eye'></i></span>
      
      </div>

      <div class="ol-input-addon ol-m-20__t">
        
        <div class="ol-input-affix">
          <input type="password" placeholder="请输入内容" class="ol-input" />
          <span class="affix"><i class='fa fa-eye'></i></span>
        </div>

        <span class="addon ol-bg-c_primary ol-c_white">搜索</span>
      
      </div>


    </div>
    <div class="code-box-meta">
      <div class="code-box-title">基本输入框</div>
      <div class="code-box-description">输入框说明</div>
    </div>
    <div class="code-box-actions"></div>
  </div>

  <!--  -->


  <div class="code-box">
    <div class="code-box-demo">
      <input type="text" class="ol-input ol-br-2 ol-input_sm" placeholder='small' />
      <input type="text"  class="ol-input ol-br-2 ol-input" placeholder='default' />
      <input type="text"  class="ol-input ol-br-2 ol-input_md" placeholder='medium' />
      <input type="text"  class="ol-input ol-br-2 ol-input_lg" placeholder='large' />

    </div>
    <div class="code-box-meta">
      <div class="code-box-title">基本输入框</div>
      <div class="code-box-description">输入框说明</div>
    </div>
    <div class="code-box-actions"></div>
  </div>
  
  <!--  -->

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <div class="ol-input-addon ol-m-20__t ol-input_sm"> 
        <div class="ol-input-affix">
          <input type="password" placeholder="请输入内容" class="ol-input" />
          <span class="affix"><i class='fa fa-eye'></i></span>
        </div> 
        <span class="addon ol-bg-c_primary ol-c_white">搜索</span> 
      </div>

      <div class="ol-input-addon ol-m-20__t ol-input_md"> 
        <div class="ol-input-affix">
          <input type="password" placeholder="请输入内容" class="ol-input" />
          <span class="affix"><i class='fa fa-eye'></i></span>
        </div> 
        <span class="addon">搜索</span> 
      </div>

      <div class="ol-input-addon ol-m-20__t ol-input_lg"> 
        <div class="ol-input-affix">
          <input type="password" placeholder="请输入内容" class="ol-input" />
          <span class="affix"><i class='fa fa-eye'></i></span>
        </div> 
        <span class="addon ol-bg-c_primary ol-c_white">搜索</span> 
      </div>



      <!--  -->

      <div class="ol-input-affix ol-m-20__t ol-input_sm">
        
        
          <input type="password" placeholder="请输入内容" class="ol-input" />
          <span class="affix"><i class='fa fa-eye'></i></span>
        
        
      </div>

      <div class="ol-input-affix ol-m-20__t ol-input_md">
        
        
        <input type="password" placeholder="请输入内容" class="ol-input" />
        <span class="affix"><i class='fa fa-eye'></i></span>
      
      
    </div>


    <div class="ol-input-affix ol-m-20__t ol-input_lg">
        
        
      <input type="password" placeholder="请输入内容" class="ol-input" />
      <span class="affix"><i class='fa fa-eye'></i></span>
    
    
  </div>



    </div>
    <div class="code-box-meta">
      <div class="code-box-title">基本输入框</div>
      <div class="code-box-description">输入框说明</div>
    </div>
    <div class="code-box-actions"></div>
  </div>
  
  <!--  -->

  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
      <input type="text" placeholder="请输入内容" class="ol-input ol-input_line ol-br-2" />


      <!--  -->
      <div class="ol-input-affix ol-m-20__t ol-input_sm ol-input_line">
        
        
        <input type="password" placeholder="请输入内容" class="ol-input" />
        <span class="affix"><i class='fa fa-eye'></i></span>
      
      
    </div>
      <!--  -->

      <div class="ol-input-addon ol-m-20__t ol-input_line ol-input_lg"> 
        <div class="ol-input-affix">
          <input type="password" placeholder="请输入内容" class="ol-input" />
          <span class="affix"><i class='fa fa-eye'></i></span>
        </div> 
        <span class="addon">搜索</span> 
      </div>
      <!--  -->

    </div>
    <div class="code-box-meta">
      <div class="code-box-title">基本输入框</div>
      <div class="code-box-description">输入框说明</div>
    </div>
    <div class="code-box-actions"></div>
  </div>
  
  <!--  -->

  

  <!--  -->

</body>
</html>