<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>




  <!--  -->
  <div class="code-box">
    <div class="code-box-demo">
         

      <div class="ol-switch" id='s-1'>
        <span class="ol-switch__inner"></span>
      </div>


      <div class="ol-switch ol-switch-active ol-switch_primary">
        <span class="ol-switch__inner"></span>
      </div>


      <div class="ol-switch ol-switch-active ol-switch_success">
        <span class="ol-switch__inner"></span>
      </div>


      <div class="ol-switch ol-switch-active ol-switch_danger">
        <span class="ol-switch__inner"></span>
      </div>



         



    </div>
    <div class="code-box-meta">
    <div class="code-box-title"></div>
    <div class="code-box-description">
    <p>说明</p>
    </div>
    </div>
    <div class="code-box-actions" target='s-1'></div>
  </div>

  <!--  -->
  
</body>
</html>