<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="ol-status-navigation">
    <div class="ol-status-bar"></div>
    <div class="ol-navigation-bar">
      <span class="ol-navigation-bar__back">
        <img src="/css/icon/chevron-left.svg" alt="">
      </span>
      <span class="ol-navigation-bar__title">
        <span class="ol-navigation-bar__title_text">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</span>
      </span>
      <span class="ol-navigation-bar__action">
        <img src="/css/icon/home.svg"/>
        <img src="/css/icon/camera.svg"/>
        <img src="/css/icon/user.svg"/>
      </span>
    </div>
  </div>
</body>
</html>