<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
</head>

<body>
  <p>大小： 固定，inline, auto</p>
  <p>颜色： </p>
  <p>图标： </p>
  <p>圆角： </p>
  <p>激活：</p>

  <p class="ol-layout-g g-4 gap-10">
    <span class="ol-layout-g__item">
      <a href="#" class="ol-btn ol-btn_default">默认按钮</a>
    </span>
    <span class="ol-layout-g__item">
      <button class="ol-btn ol-btn_primary">按钮</button>

    </span>
    <span class="ol-layout-g__item">
      <button class="ol-btn_success">按钮</button>

    </span>
    <span class="ol-layout-g__item">
      <a href="#" class="ol-btn ol-btn_danger">
        <img src="/css/icon/home.svg" class="ol-btn__icon" />
        按钮
      </a>
    </span>
    <span class="ol-layout-g__item">
      <a href="#" class="ol-btn ol-btn_pink">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          class="ol-btn__icon" />
        按钮
      </a>
    </span>

    
    <span class="ol-layout-g__item"><a href="#" class="ol-btn ol-btn_info">info</a></span>
    <span class="ol-layout-g__item"><a href="#" class="ol-btn ol-btn_dark">dark</a></span>
    <span><a href="#" class="ol-btn ol-btn_purple">purple</a></span>
    <span class="ol-layout-g__item"><a href="#" class="ol-btn ol-btn_muted">muted</a></span>
    <span class="ol-layout-g__item"><a href="#" class="ol-btn ol-btn_link">link</a></span>

  </p>


  <p class="ol-layout-g g-2 gap-10">
    <a href="#" class="ol-btn ol-btn_success ol-btn_auto">自动</a>
    <a href="#" class="ol-btn ol-btn_danger ol-btn_auto">自动</a>
  </p>



  <p class="ol-layout-g g-2 gap-10">
    <span>
      <a href="#" class="ol-btn ol-btn_pink ol-btn_circle">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          class="ol-btn__icon" />
      </a>

    </span>

    <a href="#" class="ol-btn ol-btn_danger ol-btn_circle">
      <img src="/css/icon/home.svg" class="ol-btn__icon" /> 
    </a>

    <a href="#" class="ol-btn ol-btn_danger ol-btn_circle">
      <i  class="fas fa-trash-alt"></i> 
    </a>
  </p>
   


  
  



</body>

</html>