<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
</head>

<body ontouchstart>
  <p>大小： 固定，inline, auto</p>
  <p>颜色： </p>
  <p>图标： </p>
  <p>圆角： </p>
  <p>激活：</p>

  <p class="ol-layout-g g-3 gap-10">

    <button class="ol-btn ol-btn-o_default">default</button>
    <button class="ol-btn ol-btn_primary">primary</button>
    <button class="ol-btn_success">success</button>
    <button class="ol-btn ol-btn_warning">warning</button>
    <button class="ol-btn ol-btn_danger">danger</button>
    <button class="ol-btn ol-btn_dark">dark</button>
    <button class="ol-btn ol-btn_light">light</button>
    <button class="ol-btn ol-btn_info">info</button>
    <button class="ol-btn ol-btn_pink">pink</button>
    <button class="ol-btn ol-btn_purple">purple</button>
    <!-- <button class="ol-btn ol-btn_white">white</button> -->
    <button class="ol-btn ol-btn_muted">muted</button>
    <button class="ol-btn ol-btn_link">link</button>
  </p>

  <h3 class="ol-fs-18 ol-p-8 ol-line">空心</h3>

  <p class="ol-layout-g g-2 gap-10">
    <button class="ol-btn ol-btn-o_default">default</button>
    <button class="ol-btn ol-btn-o_primary">primary</button>
    <button class="ol-btn ol-btn-o_success">success</button>
    <button class="ol-btn ol-btn-o_warning">warning</button>
    <button class="ol-btn ol-btn-o_danger">danger</button>
    <button class="ol-btn ol-btn-o_dark">dark</button>
    <button class="ol-btn ol-btn-o_light">light</button>
    <button class="ol-btn ol-btn-o_info">info</button>
    <button class="ol-btn ol-btn-o_pink">pink</button>
    <button class="ol-btn ol-btn-o_purple">purple</button>
    <!-- <button class="ol-btn ol-btn-o_white">white</button> -->
    <button class="ol-btn ol-btn-o_muted">muted</button>
    <button class="ol-btn ol-btn-o_link">link</button>
  </p>


  <h3 class="ol-fs-18 ol-p-8 ol-line">带图标的</h3>

  <p class="ol-layout-g g-2 gap-10">




    <button class="ol-btn ol-btn-o_default">
      <i class="fas fa-check"></i>
      default
    </button>
    <button class="ol-btn ol-btn-o_primary"> <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
        class="ol-btn__icon" />primary</button>
    <button class="ol-btn ol-btn-o_success"><i class="fas fa-check ol-btn__icon"></i> success</button>
    <button class="ol-btn ol-btn-o_warning"><i class="fas fa-check ol-btn__icon"></i>warning</button>
    <button class="ol-btn ol-btn-o_danger"><i class="fas fa-trash-alt ol-btn__icon"></i> danger</button>
    <button class="ol-btn ol-btn-o_dark"><i class="fas fa-check ol-btn__icon"></i>dark</button>
    <button class="ol-btn ol-btn-o_light"><i class="fas fa-check ol-btn__icon"></i>light</button>
    <button class="ol-btn ol-btn-o_info"><i class="fas fa-check ol-btn__icon"></i>info</button>
    <button class="ol-btn ol-btn_pink"><i class="fas fa-check ol-btn__icon"></i>pink</button>
    <button class="ol-btn ol-btn_purple"><i class="fas fa-check ol-btn__icon"></i>purple</button>
    <!-- <button class="ol-btn ol-btn-o_white">white</button> -->
    <button class="ol-btn ol-btn_muted"><i class="fas fa-check ol-btn__icon"></i>muted</button>
    <button class="ol-btn ol-btn_link"><i class="fas fa-check ol-btn__icon"></i>link</button>

  </p>



  <h3 class="ol-fs-18 ol-p-8 ol-line">完整宽度</h3>

  <p class="ol-layout-g g-2 gap-10">
    <button href="#" class="ol-btn ol-btn-o_success ol-btn_auto">自动</button>
    <button href="#" class="ol-btn ol-btn-o_danger ol-btn_auto">自动</button>
  </p>



  <h3 class="ol-fs-18 ol-p-8 ol-line">圆形</h3>

  <p class="ol-layout-g g-5 gap-10">
    <span>
      <button href="#" class="ol-btn ol-btn_pink ol-btn_circle ">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          class="ol-btn__icon" />
      </button>
    </span>

    <button class="ol-btn ol-btn_danger ol-btn_circle">
      <img src="/css/icon/home.svg" class="ol-btn__icon" />
    </button>

    <button  class="ol-btn ol-btn_danger ol-btn_circle ol-btn-o_danger">
      <i class="fas fa-trash-alt"></i>
    </button>

    <button  class="ol-btn  ol-btn_circle ol-btn-o_pink">
      <i class="fas fa-film"></i>
    </button>

    <button  class="ol-btn  ol-btn_circle ol-btn_purple">
      <i class="fas fa-eye"></i>
    </button>

     
  </p>

  <h3 class="ol-fs-18 ol-p-8 ol-line">分割</h3>
  <p class="ol-layout-g g-2 gap-10">

     
      <button href="#" class="ol-btn ol-btn_primary ol-btn-sp">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
          class="ol-btn__icon" />
        primary
      </button>


      <button href="#" class="ol-btn ol-btn_success ol-btn-sp">
        <i class="fas fa-check ol-btn__icon"></i>
        success
      </button>


      <button href="#" class="ol-btn ol-btn_danger ol-btn-sp">
        <i class="fas fa-trash-alt ol-btn__icon"></i>
        danger
      </button>


      <button href="#" class="ol-btn ol-btn_warning ol-btn-sp">
        <i class="fas fa-exclamation ol-btn__icon"></i>
        warning
      </button>
   
      <button href="#" class="ol-btn ol-btn_pink ol-btn-sp">
        <i class="fas fa-eye ol-btn__icon"></i>
        pink
      </button>

      <button href="#" class="ol-btn ol-btn_purple ol-btn-sp">
        <i class="fas fa-film ol-btn__icon"></i>
        purple
      </button>

  </p>


  <h3 class="ol-fs-18 ol-p-8 ol-line">大小</h3>
  <p class="ol-layout-h ol-p-10">
    <button class="ol-btn ol-btn_purple ol-btn_sm ol-m-10__r">small</button>
    <button class="ol-btn ol-btn_purple ol-btn_md ol-m-10__r">medium</button>
    <button class="ol-btn ol-btn_purple ol-m-10__r">normal</button>
    <button class="ol-btn ol-btn_purple ol-btn_lg">large</button>
  </p>
  <p class="ol-layout-h ol-p-10">
    <button class="ol-btn ol-btn_purple ol-btn_sm ol-m-10__r">
      <i class="fas fa-check ol-btn__icon"></i>small
    </button>
    <button class="ol-btn ol-btn_purple ol-btn_md ol-m-10__r">
      <i class="fas fa-check ol-btn__icon"></i>medium
    </button>
  </p>
  <p class="ol-layout-h ol-p-10">
    <button class="ol-btn ol-btn_purple ol-m-10__r">
      <i class="fas fa-check ol-btn__icon"></i> normal
    </button>
    <button class="ol-btn ol-btn_purple ol-btn_lg ol-btn-sp">
      <i class="fas fa-check ol-btn__icon"></i> large
    </button>

  </p>

  <h3 class="ol-fs-18 ol-p-8 ol-line">loading</h3>
  <p class="ol-layout-h ol-p-10">
    <button class="ol-btn ol-btn_purple ol-btn_loading ol-m-10__r ol-btn_sm"><i class="fas fa-spinner ol-btn__icon"></i>loading</button>
    <button class="ol-btn ol-btn_primary ol-btn_loading ol-m-10__r ol-btn_sm"><i class="fas fa-spinner ol-btn__icon"></i>loading</button>
    <button class="ol-btn ol-btn_success ol-btn_loading"><i class="fas fa-spinner ol-btn__icon"></i>loading</button>
  </p>







</body>

</html>