<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
</head>
<body  class="ol-p-20">
  <p>
    <div class="ol-group ol-group_pill">
      <span class="ol-group__item ol-bg-c-F1646C">hello</span>
      <input class="ol-group__item ol-btn_auto ol-group__item_m" placeholder="请输入"></input> 
      <button class="ol-btn ol-btn_primary ol-group__item ol-btn_auto">点击</button> 
    </div>
  </p>

  <p class="ol-p-10">
    <div class="ol-group">
      <button class="ol-btn ol-btn_success ol-group__item ol-btn_auto"><i class="fas fa-home"></i></button>
      <button class="ol-btn ol-btn_success ol-group__item ol-btn_auto"><i class="fas fa-flask"></i></button>
      <button class="ol-btn ol-btn_success ol-group__item ol-group__item_m ol-btn_auto">更多</button>
      <button class="ol-btn ol-btn_success ol-group__item ol-btn_auto"><i class="fas  fa-caret-down"></i></button>
    </div> 
  </p>

  <p class="ol-p-10">
    <div class="ol-group ol-group_pill">
      <button class="ol-btn ol-btn_success ol-group__item ol-group__item_m  ol-btn_auto">篮球</button>
      <button class="ol-btn ol-btn_success ol-group__item ol-group__item_m  ol-btn_auto">足球</button>
      <button class="ol-btn ol-btn_success ol-group__item ol-group__item_m ol-btn_auto">乒乓球</button>
      
    </div> 
  </p>


</body>
</html>